<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxqax.nblog.dao.LoginDao">

    <!-- 表名   -->
    <sql id="BASE_TABLE">
        tb_user_info
    </sql>

    <!-- 基本列   -->
    <sql id="BASE_COLUMN">
        u.id,u.name,u.pwd,u.email,u.avator,u.intro,u.is_disable,u.create_time,u.update_time
    </sql>

    <select id="getPwdByUserName" resultType="java.lang.String">
        SELECT
            u.pwd
        FROM
            <include refid="BASE_TABLE" /> as u
        WHERE
            u.name=#{name} and u.is_disable = 0
        LIMIT 1
    </select>

    <select id="getPwdByEmail" resultType="java.lang.String">
        SELECT
            u.pwd
        FROM
            <include refid="BASE_TABLE" /> as u
        WHERE
            u.email=#{name} and u.is_disable = 0
        LIMIT 1
    </select>

    <select id="getNameByEmail" resultType="java.lang.String">
        SELECT
            u.name
        FROM
            <include refid="BASE_TABLE" /> as u
        WHERE
            u.email=#{name} and u.is_disable = 0
        LIMIT 1
    </select>

    <select id="getPwdAndNameByEmail" resultType="com.zxqax.nblog.dto.UserDTO">
        SELECT
            u.pwd u_pwd,
            u.name u_name
        FROM
            <include refid="BASE_TABLE" /> as u
        WHERE
            u.email=#{name} and u.is_disable = 0
        LIMIT 1
    </select>

</mapper>