<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nblog.dao.UserDao">
    <insert id="addCollect">
        INSERT INTO
            tb_collects (
                u_id,
                a_id,
                `time`
            )
        VALUES (
                #{uid},
                #{aid},
                NOW()
            )
    </insert>
    <update id="updateImg">
         update tb_user_info set avatar=#{img} , update_time = NOW() where id=#{id}
    </update>

    <select id="checkIfTheEmailExists" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            tb_user_info as u
        WHERE
            u.email=#{email} and u.is_disable = 0
    </select>
    <select id="checkIfTheUserNameExists" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
             tb_user_info as u
        WHERE
            u.name=#{name} and u.is_disable = 0
    </select>
    <select id="getNameByID" resultType="java.lang.String">
        SELECT
            `name`
        FROM
            tb_user_info
        WHERE
            id=#{userId}
    </select>
    <select id="getAllCollects" parameterType="java.util.List" resultType="com.nblog.dto.FavoriteDTO">
        SELECT
            id,
            article_title title,
            update_time
        FROM
            tb_article
        WHERE
            id in
            <foreach collection="ids" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach>
    </select>
    <select id="getAllAttention" resultType="com.nblog.dto.AttDTO">
        SELECT
            u.id,
            u.name,
            u.create_time `time`,
            avatar,
            intro,
            (   SELECT
                    count(*)
                FROM
                    tb_article
                WHERE
                    user_id = u.id AND is_delete = 0 AND status != 2) article_count
        FROM
            tb_user_info u
        WHERE
            u.id in
            <foreach collection="ids" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach>
    </select>
</mapper>